$primary: #4e7cff;
$secondary: #2d5672;
$success: #0fcc5b;
$warning: #ffa615;
$error: #f6585b;
$info: #0fccc7;
$dark: #191919;
$light: #dee8f3;
$white: #ffffff;
$black: #000000;

:root 
{
	--primary: #{$primary};
	--secondary: #{$secondary};
	--success: #{$success};
	--warning: #{$warning};
	--error: #{$error};
	--info: #{$info};
	--dark: #{$dark};
	--light: #{$light};
	--white: #{$white};
	--black: #{$black};
};