$font-rubik-weights: (
    900: "ExtraBold", 
    800: "Bold", 
    700: "SemiBold",
    600: "Black", 
    500: "Medium", 
    400: "Light"
);

@each $wv, $wn in $font-rubik-weights {
    @font-face {
        font-family: 'Rubik';
        src: url("../../public/fonts/Rubik-#{$wn}.ttf") format('truetype');
        font-weight: $wv;
    }
}